# 01. intro

## 단축키

- ctrl + enter : 지금 셀 실행
- shlft + enter : 지금 셀 실행함과 동시에 아래로 이동
- alt + enter : 지금 셀 실행함과 동시에 아래에 새로운 셀 추가

## 주의사항

1. Apple/apple은 다르다.(대,소문자 구별)
2. git add . / git add.
3. message/ massage

In [7]:
# 주석을 나타냄

"""
안녕하세요
"""

'\n안녕하세요\n'

# 1.변수

변수이름 = 값

- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _를 이용하여 선언
- 키워드는 사용불가

In [8]:
a = 10

In [9]:
a

10

In [12]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## 1.1 number

In [16]:
a = 10000000

In [18]:
a

10000000

In [20]:
type(a)

int

In [24]:
b = 1.1

In [26]:
b

1.1

In [28]:
type(b)

float

In [29]:
#상수와 허수를 나타냄
c = 1 - 4j

In [31]:
c

(1-4j)

In [33]:
type(c)

complex

In [35]:
#허수출력
c.imag

-4.0

In [37]:
#상수출력
c.real

1.0

### 1.2 Boolean

True, False로 이루어진 타입

In [63]:
a = True

In [64]:
type(a)

bool

In [44]:
b = False

In [45]:
type(b)

bool

In [46]:
bool(0)

False

In [47]:
bool(1)

True

In [50]:
bool([1])

True

### 1.3 None

In [65]:
a = None

In [66]:
type(a)

NoneType

### 1.4 string

- 문자열은 `'` `"'를 이용하여 표현

In [229]:
a = 'Hello'

In [230]:
type(a)

str

In [61]:
b = "world"

In [62]:
type(b)

str

In [69]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [72]:
print('안녕하세요? '박준범'입니다.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2892615836.py, line 1)

In [73]:
print("안녕하세요? '박준범'입니다.")

안녕하세요? '박준범'입니다.

In [75]:
print('안녕하세요? "박준범"입니다.')

안녕하세요? "박준범"입니다.

In [231]:
#작은따옴표 안에 작은따옴표 출력 시 \' 를 활용하자
print('안녕하세요? \'박준범\'입니다.')

안녕하세요? '박준범'입니다.

In [77]:
a = '''
여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.
'''

In [78]:
print(a)

여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.

In [80]:
print('엔터를 입력해봐요 \n다음줄입니다. \t들여쓰기도 가능합니다')

엔터를 입력해봐요
다음줄입니다. 	들여쓰기도 가능합니다

In [87]:
print('하나', '둘', '셋', sep='\t')

하나	둘	셋

#### string interpolation
1. %-formatting
2. str.format()
3. f-string

In [2]:
age = 20

In [88]:
print('홍길동은 %s살입니다.' % age)

홍길동은 20 살입니다.

In [91]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 20살입니다.

In [3]:
# 변수를 포함한 출력은 f함수를 자주사용함.
print(f'홍길동은 {age}살입니다.')

홍길동은 20살입니다.

## 2. 연산자
### 2.1 산술연선자

In [101]:
a = 2
b = 3

In [102]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

5
-1
6
0.6666666666666666
8

In [106]:
# a를 b로 나눈 몫
print(a // b)
# a를 b로 나누고 나머지 출력
print(a % b)
# a를 b로 나누고 나눈 몫, 나머지 출력
print(divmod(a, b))

0
2
(0, 2)

### 2.2 비교연산자

In [107]:
a = 5
b = 10

In [110]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [111]:
print(a == b)
print(a != b)

False
True

In [113]:
print('hi' == 'hi')
print('HI' == 'hi')

True
False

### 2.3 논리연산자

- and : 양쪽 모두 True일 때, True를 반환
- or : 양쪽 모두 False일 때, False를 반환
- not

In [115]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [116]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [117]:
print(True)
print(not True)

True
False

In [118]:
# 단축평가(and)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [119]:
# 단축평가(or)
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

### 2.3 복합연산자

In [124]:
a = 1
b = 2

In [125]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [126]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

### 2.4 기타연산자

In [135]:
a = 'hi!'
b = 'hello'

In [136]:
# concatenation
a + b

'hi!hello'

In [137]:
a = [1, 2, 3]
b = [4, 5, 6]

In [138]:
# concatenation
a + b

[1, 2, 3, 4, 5, 6]

In [139]:
#containment
print('a' in 'apple')
print('z' in 'apple')

True
False

In [140]:
#containment
print(1 in [1,2,3])
print(10 in [1,2,3])

True
False

In [144]:
#idnetity
a = 1
b = 1
print(a is b)
print(id(a))
print(id(b))

True
140734072415016
140734072415016

In [148]:
#identity
#파이썬에선 1~256까지만 동일 객체의 주소로 보기 때문에 257이상의 숫자를 비교하면 false가 출력됌.
a = 123123
b = 123123
print(a is b)
print(id(a))
print(id(b))

False
2376935718512
2376935715728

#### 우선순위 연산자

0. ()를 통한 그룹
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자(in, is)
5. not
6. and
7. or

In [149]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환

In [152]:
a = True
b = False
c = 1

In [153]:
print(a + c)
print(b + c)

2
1

In [154]:
int_num = 3
float_num = 3.3
complex_num = 1 + 3j

In [156]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

### 3.2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- str() : int, float 등을 string으로 변환
- bool() : int, list 등을 boolean으로 변환

In [157]:
a = 1
b = '번'

In [158]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [159]:
print(str(a) + b)

1번

In [160]:
a = '3'

In [161]:
int(a)

3

In [162]:
type(int(a))

int

In [163]:
a = '3.3'

In [164]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [165]:
type(float(a))

float

In [166]:
a = 1
b = 0

In [167]:
bool(a)

True

In [168]:
bool(b)

False

In [171]:
print(bool([]))
print(bool([1,2,3]))

False
True

## 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되어 있다는 것은 정렬된 것과 다르다.)

1. 리스트
2. 튜플
3. 레이지
4. 문자열

### 4.1 List(배열)

- 선언 : 변수이름 = [value1, value2, value3, ...]
- 접근 : 변수이름[index]

In [174]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [175]:
location = ['서울', '대구', '대전']
print(location)
print(location[0])

['서울', '대구', '대전']
서울

In [176]:
print(location[1])

대구

### 4.2 Tuple()
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)함

In [179]:
t = (1,2,3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [180]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [183]:
x,y = (1,2)
print(x,y)

x,y = y,x
print(x,y)

1 2
2 1

### 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n,m) : n부터 m-1까지 범위
- range(n,m,s) : n부터 m-1까지 +s만큼 증가하는 범위

In [184]:
a = range(1)
print(type(a))

<class 'range'>

In [186]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [187]:
a = range(5,15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [188]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [190]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4.4 String
기본 데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/함수

In [199]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_range = range(1,100)
my_string = '12345'

In [196]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [198]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [202]:
# slicing (k간격으로)
list(my_range[2:6:2])

[3, 5]

In [204]:
# in
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [205]:
# not in
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [206]:
# concatenation
print(my_list + [1,2,3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [207]:
# *
print([0] * 10)
print([[0] * 10] * 30)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [208]:
print(len(my_list))

5

In [209]:
print(min(my_list))

1

In [210]:
print(max(my_list))

5

In [211]:
my_list.count(1)

1

## 5. 시퀀스데이터가 아닌 자료구조

### 5.1 Set
수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3,...}

In [213]:
my_set_a = {1,2,3,4,5}
my_set_b = {3,4,5,6,7}

In [217]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [219]:
my_list = [1,1,1,1,1,1,1,1,2,3,4,5,6,7]
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7}

In [220]:
print(list(set(my_list)))

[1, 2, 3, 4, 5, 6, 7]

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 것을 사용 가능함(불변값 : string, integer 등)
- value에는 모든 데이터 가능(list, dictionary도 가능)

In [222]:
my_dict = {'서울': '02', '경기도': '031'}
my_dict['서울']

'02'

In [223]:
dict_a = {
    'name': 'changhee',
    'location': 'seoul',
    'location': 'seoul2',
}

In [225]:
print(dict_a)

{'name': 'changhee', 'location': 'seoul2'}

In [226]:
dict_a.keys()

dict_keys(['name', 'location'])

In [227]:
dict_a.values()

dict_values(['changhee', 'seoul2'])

# 데이터 타입

1. Number
2. Boolean
3. String

# 자료구조

- 시퀀스 자료형
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스가 아닌 자료형
1. {Set} : mutable
2. {Dict: ionary} : mutable