# 제어문

## 조건문(if문)
1. 'if'문은 반드시 일정한 참/거짓을 판단할 수 있는 `조건식`과 함께 사용함. (`if <조건식>:`)

2-1. `<조건식>`이 참인 경우 `:` 이후의 문장을 실행

2-2. `<조건식>`이 거짓인 경우 `else:` 이후의 문장을 실행

In [3]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 123

크리스마스가 아닙니다.

In [18]:
# input으로 숫자를 받으면 int가 아닌 str형으로 받아들이게 되니
# 반드시 형변환을 할 것.
num = input('숫자를 입력해주세요')
print(num)
print(type(num))
num = int(num)
print(type(num))

숫자를 입력해주세요 123

123
<class 'str'>
<class 'int'>

In [22]:
# 조건문을 사용하여 num에 들어있는 숫자가 홀수/짝수 인지 판별

if (num % 2) == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

홀수입니다.

In [21]:
if (num % 2) == 1:
    print('홀수입니다.')
else:
    print('짝수입니다.')

홀수입니다.

In [24]:
# num을 2로 나눈 나머지는 0,1 두가지 경우가 있음.
# if문의 조건식에 0,1은 자동형변환이 일어나 False, True로 변환함.
if num % 2:
    print('홀수입니다.')
else:
    print('짝수입니다.')

홀수입니다.

### elif

```
if <조건식>:
    if 조건이 참인경우
elif <조건식>:
    elif 조건이 참인경우
...
else:
    위의 조건식에 하나도 부합하지 않는경우 실행
```

In [36]:
score = input()
type(score)
score = int(score)
type(score)

 95

int

In [39]:
# 90점 이상 A (95점이상 '참잘했어요')
# 80점 이상 B
# 70점 이상 C
# 나머지 F

if (score >= 90):
    print('A입니다.')
    if score >= 95:
        print('참잘했어요')
elif score >= 90:
    print('A입니다.')
elif score >= 80:
    print('B입니다.')
elif score >= 70:
    print('C입니다.')
else:
    print('F입니다.')

A입니다.
참잘했어요

## 조건표현식(삼항연산자)

```
true_value if <조건식> else false_value
```
- 참일 경우 true_value 출력
- 거짓일 경우 false_value 출력

In [42]:
print('True') if 1 > 0 else print('False')

True

In [44]:
if 1 > 0:
    print('True')
else:
    print('False')

True

In [41]:
print('True') if 1 < 0 else print('False')

False

In [45]:
if 1 < 0:
    print('True')
else:
    print('False')

False

In [47]:
num = -5
value = num if num >= 0 else 0
print(value)

0

In [50]:
#내 코드
if num >= 0:
    print(num)
else:
    print(0)

0

In [52]:
#강사님 코드
num = -5
if num >= 0:
    value = num
else :
    value =0
print(value)

0

In [53]:
num = 2
if num % 2 == 1:
    result = '홀수'
else :
    result = '짝수'
print(result)

짝수

In [1]:
num = 2
value = '홀수' if num % 2 == 1 else '짝수'
print(value)

짝수

# 반복문

## while문

```
while <조건식>:
    실행할 코드
```

In [1]:
a = 0

while a < 5:
    print(a)
    a += 1
    # a = a + 1

0
1
2
3
4

In [3]:
# 내 코드
# 사용자가 '안녕' 이라고 할 때까지 계속 입력을 요청받는 코드
a = ''
while a != '안녕':
    a = input()
print('goodbye~)

 1
 5
 7
 안녕

goodbye~

In [5]:
# 강사님 코드
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고해줘 : ')

안녕이라고해줘 :  123
안녕이라고해줘 :  123
안녕이라고해줘 :  123
안녕이라고해줘 :  1234
안녕이라고해줘 :  ㅎㅇ
안녕이라고해줘 :  하이
안녕이라고해줘 :  안녕

## for

### 정해진 범위 내의 반복

```
for variable in sequence:
    code
```

In [6]:
numbers = [1,2,3,4,5]

for number in numbers:
    print(number)

1
2
3
4
5

In [12]:
# for문을 사용하여 사용자가 입력한 데이터를 한글자씩 출력하는 코드

word = input()
for char in word:
    print(char)

 apple

a
p
p
l
e

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [24]:
# 1~30까지 숫자 중 홀수 출력
for i in range(1,30):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [27]:
# 1~30까지 숫자 중 홀수만 담아 리스트로 출력
# append함수를 통하여 리스트에 담기

l = []
numbers = range(31)

for number in numbers:
    if number % 2 == 1:
        l.append(number)

print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [28]:
menus=['라면','김밥','돈가스']

for menu in menus:
    print(menu)

라면
김밥
돈가스

In [29]:
# enumerate함수를 통하여 (인덱스, 값)을 튜플형태로 출력함.
menus = ['라면','김밥','돈가스']

for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '돈가스')

In [30]:
# 인덱스와 값을 따로따로 출력하는 방법(1)
menus = ['라면','김밥','돈가스']

for menu in enumerate(menus):
    print(menu[0])
    print(menu[1])

0
라면
1
김밥
2
돈가스

In [31]:
# 인덱스와 값을 따로따로 출력하는 방법(2)
menus = ['라면','김밥','돈가스']

for idx, menu in enumerate(menus):
    print(idx)
    print(menu)

0
라면
1
김밥
2
돈가스

## dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [33]:
info = {
    'name' : 'junbeom',
    'location' : 'Seongnam',
    'phone' : '010-7774-8062'
}

In [42]:
for i in info:
    print(i)    # 딕셔너리의 키를 출력
    print(info[i])    # 딕셔너리의 키에대한 값을 출력

name
junbeom
location
Seongnam
phone
010-7774-8062

In [41]:
blood_type = {
    'A' : 5,
    'B' : 4,
    'O' : 2,
    'AB' : 3,
}

In [39]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [49]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [50]:
for value in blood_type.values():
    print(value)

5
4
2
3

In [45]:
result = 0

for value in blood_type.values():
    result = result + value
print(f'총인원은 {result}명입니다')

총인원은 14명입니다

In [51]:
for key, value in blood_type.items():
    print(key,value)

A 5
B 4
O 2
AB 3

In [52]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

In [47]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

## break
반복문을 종료시키는 키워드

In [54]:
for i in range(100):
    if i > 10:
        print('10넘었어')
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
10넘었어

In [58]:
#내 코드
rice = ['보리','보리','보리','쌀','보리','보리']
# 보리, 보리, 보리, 쌀, 잡았다! =>

for i in rice :
    if i == '쌀':
        print('쌀, 잡았다!')
        break
    print('보리,')

보리,
보리,
보리,
쌀, 잡았다!

In [60]:
#강사님 코드
rice = ['보리','보리','보리','쌀','보리','보리']
# 보리, 보리, 보리, 쌀, 잡았다! =>

for i in rice :
    print(i)
    if i == '쌀':
        print('잡았다!')
        break

보리
보리
보리
쌀
잡았다!

## continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [63]:
for i in range(10):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8

In [66]:
#내 코드
age = [10, 35, 20, 18, 9, 40]

for i in age:
    if i < 20:
        print('성인이 아닙니다.')
        continue
    print('성인입니다.')

성인이 아닙니다.
성인입니다.
성인입니다.
성인이 아닙니다.
성인이 아닙니다.
성인입니다.

In [67]:
#강사님 코드
age = [10, 35, 20, 18, 9, 40]

for i in age:
    if i < 20:
        continue
    print('성인입니다.')

성인입니다.
성인입니다.
성인입니다.

### else
else문은 끝까지 반복이 진행된 후 실행됍니다.

In [71]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print("break 못만남")

0
1
2
3
4
5
6
7
8
9
break 못만남

In [72]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print("break 못만남")

0
1
2
3
4
5

In [73]:
numbers = [1,3,5,7,9]
print(3 in numbers)
print(2 in numbers)

True
False

In [79]:
#내 코드
numbers = [1,3,5,7,9]

for number in numbers:
    if number == 3:
        print(3 in numbers)
        break
else:
    print("break를 못만남")

True

In [82]:
#내 코드
numbers = [1,3,5,7,9]

for number in numbers:
    if number == 2:
        print(2 in numbers)
        break
else:
    print("False")

False

In [80]:
#강사님 코드
numbers = [1,3,5,7,9]
target = 5

for number in numbers:
    # if문을 통해 내가 원하는 숫자가 있으면 true
    if number == target:
        print('True')
        break

True

In [81]:
#강사님 코드
numbers = [1,3,5,7,9]
target = 4

for number in numbers:
    # if문을 통해 내가 원하는 숫자가 있으면 true
    if number == target:
        print('True')
        break
else :
    print('False')

False

## pass

In [84]:
if True:
    pass

### match
```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [88]:
status = 404

match status:
    case 400:
        print('Bad request')
    case 404:
        print('Not found')
    case _:
        print('something is wrong')

Not found